body{
  display:flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.header{
  background-color: brown;
  width: 100%;
}

.header__text{
  text-align: center;
}

.main__fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer{
  background-color: brown;
  width: 80%;
  margin-top: auto;
}

.footer__text{
  text-align: center;
}